/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
* Custom Resets
*/
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

.header--logo {
  display: flex;
  height: 100%;
  justify-content: center;
}

.panel-container, .panel {
  margin: 0 auto;
}

.header--logo img {
  margin: auto;
}

.weather-icons--condition p, .weather-icons--group--i span {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.header {
  border-bottom: 1px solid #e2e2e2;
  height: 3.75rem;
}
.panel.is-coldest {
  background-color: #1c9cf6;
}
.panel.is-coldest h1,
.panel.is-coldest i,
.panel.is-coldest .weather-icons,
.panel.is-coldest span {
  color: #0873be;
}

.panel.is-cold {
  background-color: #19c3fb;
}
.panel.is-cold h1,
.panel.is-cold i,
.panel.is-cold .weather-icons,
.panel.is-cold span {
  color: #0394c4;
}

.panel.is-mild {
  background-color: #3eeace;
}
.panel.is-mild h1,
.panel.is-mild i,
.panel.is-mild .weather-icons,
.panel.is-mild span {
  color: #16c6a9;
}

.panel.is-warmer {
  background-color: #ffcd00;
}
.panel.is-warmer h1,
.panel.is-warmer i,
.panel.is-warmer .weather-icons,
.panel.is-warmer span {
  color: #b39000;
}

.panel.is-roasting {
  background-color: #ff5251;
}
.panel.is-roasting h1,
.panel.is-roasting i,
.panel.is-roasting .weather-icons,
.panel.is-roasting span {
  color: #ff0605;
}

.panel {
  padding: 44px 38px 68px;
  width: 512px;
}
.panel h1 {
  font: 300 2.8125rem/3.4375rem "Roboto", sans-serif;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
  font-size: 2em;
  margin: 0 0 0.67em 0;
}

.panel-container {
  width: 100%;
  height: 100%;
}

.panel-container.is-coldest {
  background-color: #1c9cf6;
}
.panel-container.is-coldest h1,
.panel-container.is-coldest i,
.panel-container.is-coldest .weather-icons,
.panel-container.is-coldest span {
  color: #0873be;
}

.panel-container.is-cold {
  background-color: #19c3fb;
}
.panel-container.is-cold h1,
.panel-container.is-cold i,
.panel-container.is-cold .weather-icons,
.panel-container.is-cold span {
  color: #0394c4;
}

.panel-container.is-mild {
  background-color: #3eeace;
}
.panel-container.is-mild h1,
.panel-container.is-mild i,
.panel-container.is-mild .weather-icons,
.panel-container.is-mild span {
  color: #16c6a9;
}

.panel-container.is-warmer {
  background-color: #ffcd00;
}
.panel-container.is-warmer h1,
.panel-container.is-warmer i,
.panel-container.is-warmer .weather-icons,
.panel-container.is-warmer span {
  color: #b39000;
}

.panel-container.is-roasting {
  background-color: #ff5251;
}
.panel-container.is-roasting h1,
.panel-container.is-roasting i,
.panel-container.is-roasting .weather-icons,
.panel-container.is-roasting span {
  color: #ff0605;
}

.weather-icons {
  display: flex;
  margin-bottom: 1rem;
}
.weather-icons--group {
  display: flex;
  width: 60%;
}
.weather-icons--group--i {
  width: 25%;
  text-align: center;
}
.weather-icons--group--i:last-of-type {
  text-align: right;
}
.weather-icons--condition {
  width: 40%;
}
.weather-icons--condition p {
  font-size: 1.28rem;
  margin-top: 0.2rem;
  text-align: right;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
.weather-icons i {
  font-size: 1.873125rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

h4 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}
h4 a {
  color: white;
  text-decoration: underline;
}

.saved h4 {
  margin-top: 1em;
}

#root {
  padding: 40px;
}

#container {
  width: 100%;
}

.form {
  width: 100%;
}

html,
body,
.flex {
  width: 100%;
  height: 100%;
}

input[type=submit] {
  display: none !important;
}

input {
  width: 100%;
  margin-bottom: 1.5em;
}

input {
  background: none;
  border: 3px solid #fff;
  border-radius: 26px;
  box-sizing: border-box;
  padding: 5px 15px 7px;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  position: relative;
}

input:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
