// Header Component
// The Header component is of a basic Navbar style
// Visual:
// @border
// @height
.header {
	border-bottom: 1px solid #e2e2e2;
	height: 3.75rem;
	&--logo {
		@extend %VHFlexCenterProvider;
		img {
			@extend %VHCenterProvider;
		}
	}
}
