// Panel Styles Generator
// Generates Panel styles for each colour in the list
$panelStyles: 'is-coldest' $coldest, 'is-cold' $cold, 'is-mild' $mild, 'is-warmer' $warmer, 'is-roasting' $roasting;
@each $item in $panelStyles {
	.panel.#{nth($item, 1)} {
		background-color: nth($item, 2);
		h1,
		i,
		.weather-icons,
		span {
			color: darken(nth($item, 2), 15%);
		}
	}
}

// Panel Component
// Displays a days weather (forecats in a coloured box)
.panel {
	@extend %HCenterProvider;
	padding: 44px 38px 68px;
	width: 512px;

	h1 {
		font: 300 2.8125rem/3.4375rem 'Roboto', sans-serif;
		text-shadow: $text-shadow;
		font-size: 2em;
		margin: 0 0 0.67em 0;
	}
}

// panel-container
// flexible container around panel component
.panel-container {
	@extend %HCenterProvider;
	// padding: 44px 38px 68px;
	width: 100%;
	height: 100%;
}

@each $item in $panelStyles {
	.panel-container.#{nth($item, 1)} {
		background-color: nth($item, 2);
		h1,
		i,
		.weather-icons,
		span {
			color: darken(nth($item, 2), 15%);
		}
	}
}
