.weather-icons {
	display: flex;
	margin-bottom: 1rem;
	&--group {
		display: flex;
		width: 60%;
		&--i {
			width: 25%;
			text-align: center;
			span {
				@extend %StandardFontProvider;
			}
		}
		&--i:last-of-type {
			text-align: right;
		}
	}
	&--condition {
		width: 40%;
		p {
			@extend %StandardFontProvider;
			font-size: 1.28rem;
			margin-top: 0.2rem;
			text-align: right;
			text-shadow: $text-shadow;
		}
	}
	i {
		font-size: 1.873125rem;
		text-shadow: $text-shadow;
	}
}
