<!doctype html>
<html ng-app="app" ng-strict-di lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <!-- Additional files for the Highslide popup effect -->
  <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
  <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <title>The Weather</title>

</head>

<body>
  <header class="header" role="header">
    <div class="header--logo">
      <img src="/images/sun.svg" height="40px" alt="Logo">
    </div>
  </header>
  <div class="panel-container is-coldest">
    <div id="root">
      <div ng-controller="MyController">
        <h4>Please enter a city</h4>
        <div class="form">
          <input type="text" ng-model="query.city" ng-keyup="search($event)">
        </div>

        <div id="container"></div>

        <div class="saved" ng-show="query.url">
          <h4>Forecast saved at <a href="/forecast/{{query.url}}">Here</a></h4>
        </div>

      </div>
    </div>
  </div>


</body>

</html>
