// VHCenterProvider
// provides vertical centering using flex box
// suitable for the single image in the header
%VHFlexCenterProvider {
	display: flex;
	height: 100%;
	justify-content: center;
}

// HCenterProvider
// provides horizontal centering using left and right marigns
// set the left and right margins to auto to
// horizontally center that element within its container
%HCenterProvider {
	margin: 0 auto;
}

// VHCenterProvider
// provides horizontal centering using left / right / top / bottom marigns
%VHCenterProvider {
	margin: auto;
}

// StandardFontProvider
// provides the standard font
%StandardFontProvider {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
