// Globals
@import 'reset.scss';
@import 'behaviours.scss';
@import 'colours.scss';
@import 'variables.scss';
// Components
@import 'components/header.scss';
@import 'components/panel.scss';
@import 'components/weather-icons.scss';

h4 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
	font-size: 1.5em;
	color: white;
	text-align: center;
	margin-bottom: 1em;

	a {
		color: white;
		text-decoration: underline;
	}
}

.saved h4 {
	margin-top: 1em;
}

#root {
	padding: 40px;
}

#container {
	width: 100%;
}

.form {
	width: 100%;
}

html,
body,
.flex {
	width: 100%;
	height: 100%;
}

input[type='submit'] {
	display: none !important;
}
input {
	width: 100%;
	margin-bottom: 1.5em;
}
input {
	background: none;
	border: 3px solid #fff;
	border-radius: 26px;
	box-sizing: border-box;
	padding: 5px 15px 7px;
	font-size: 14px;
	color: #fff;
	z-index: 2;
	position: relative;
}
input:focus {
	outline: none;
}
